# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*

# Firebase
.firebaserc
firebase.json
.firebase/

# Google verification
public/googlea8a4ee51e30d9ef9.html
