body[data-theme="light"] {
    /* --background-color: #fffde4;
    --text-color: #421709;
    --title-color: var(--text-color);
    --icon-color: #421709;
    --footer-color: var(--icon-color);
    --pointer-color: var(--icon-color);
    --scrollbar-color: var(--icon-color); */

    #pointer {
        mix-blend-mode: normal;
    }
}

/* body[data-theme="dark"] {
    --background-color: #131411;
    --text-color: #e4e1ac;
    --title-color: var(--text-color);
    --icon-color: #e4e1ac;
    --footer-color: var(--icon-color);
    --pointer-color: var(--icon-color);
    --scrollbar-color: var(--icon-color);
} */

body {
    --background-color: #000000;
    --text-color: #ffffff;
    --title-color: var(--text-color);
    --icon-color: #ffffff;
    --footer-color: var(--icon-color);
    --pointer-color: var(--icon-color);
    --scrollbar-color: var(--icon-color);
}

* {
    min-width: 0;
    min-width: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Clash Display', sans-serif;
    cursor: none;
    transition: background-color 1s cubic-bezier(.5, .1, 0, 1), color 1s cubic-bezier(.1, .2, 0, 1), border-color 1s cubic-bezier(.1, .2, 0, 1), box-shadow 1s cubic-bezier(.1, .2, 0, 1), font-weight 0.5s, letter-spacing 0.5s;
}

*::selection {
    background-color: var(--text-color);
    color: var(--background-color);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 3px;
    transition: background-color 1s;
}

@supports not selector(::-webkit-scrollbar) {
    #main_container {
        scrollbar-width: thin;
        scrollbar-color: var(--scrollbar-color) var(--background-color);
    }
}

button {
    border: none;
    background-color: transparent;
    color: var(--icon-color);
}

a {
    padding: 0.3em 0.5em;
    color: var(--text-color);
}

a:hover {
    color: var(--background-color);
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

#pointer {
    position: fixed;
    width: 0;
    height: 0;
    translate: -50% -50%;
    border-radius: 2em;
    background-color: var(--pointer-color);
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 10;
    transition: width 0.2s, height 0.2s, filter 0.3s;
}

#pointer.hovering {
    filter: blur(15px);
    -webkit-filter: blur(15px);
    z-index: 0;
    transition: width 0.3s, height 0.2s;
}

.pointer_receiver * {
    pointer-events: none;
}

@keyframes slide_in_header {

    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    color: var(--icon-color);
    z-index: 5;
    pointer-events: none;
    user-select: none;
    transform: translateY(-100%);
    animation: slide_in_header .75s cubic-bezier(0, 1, .5, 1) 2.05s forwards;
}


#header_buttons_container {
    margin: auto;
    margin-right: 0;
    padding: 20px;
    display: flex;
    pointer-events: all;
}

.header_button {
    height: 60px;
    width: 60px;
    transition: color 1s cubic-bezier(.05, 1, 0, 1);
}

.header_button:hover {
    color: var(--background-color);
}

#language_buttons_container {
    display: flex;
    margin-left: auto;
}

.language_button {
    padding: 20px;
    text-transform: uppercase;
}

#change_theme_button {
    width: 90px;
    rotate: 180deg;
    transition: rotate 1s cubic-bezier(0.78, 0.25, 0, 0.86), opacity 0.5s;
}

body[data-theme="dark"] #change_theme_button {
    rotate: 360deg;
}

#change_theme_button>svg {
    vertical-align: bottom;
    fill: var(--icon-color);
    transition: fill 0.5s;
}

#change_theme_button:hover>svg {
    fill: var(--background-color);
}

#main_container {
    width: 100%;
    height: 100%;
    z-index: 3;
}

#title_page {
    width: 100%;
    height: 90%;
    display: flex;
}

#title_container {
    margin: auto;
    padding: 50px;
    display: flex;
    color: var(--title-color);
}

#title {
    font-size: 3em;
    font-weight: 100;
    letter-spacing: 0.5rem;
    word-spacing: 0.5rem;
    margin: auto;
    position: relative;
}

#title_name,
#title_surname {
    text-wrap: nowrap;
}

#title_container .title_letter {
    transition: font-weight 0.25s;
    animation: title_initial_animation 2s linear;
}

#title_container:hover .title_letter {
    font-weight: 600;
}

#title_background {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: var(--title-color);
    animation: title_background_initial_animation 2.5s cubic-bezier(1, 0, 0, 1);
}

@keyframes title_initial_animation {

    0%,
    70% {
        visibility: hidden;
    }
}

@keyframes title_background_initial_animation {

    0%,
    30% {
        width: 0;
        right: unset;
    }

    60% {
        width: 105%;
        right: unset;
    }

    70% {
        width: 105%;
        right: -5%;
    }

    100% {
        width: 0;
        right: -5%;
    }
}

#bio_container {
    padding-bottom: 25%;
}

#bio {
    padding: 0 10%;
    text-align: center;
    color: var(--text-color);
    font-size: 1.3em;
    font-weight: 300;
    word-spacing: 0.2em;
}

.bio-highlight {
    font-weight: 600;
}

.page_title {
    color: var(--text-color);
    text-align: center;
    font-size: 2.5em;
    font-weight: 400;
    letter-spacing: 0.15em;
}


#works_container {
    padding-top: 5%;
    padding-bottom: 25%;
}

/* temp */
#works_container p:first-of-type {
    margin-top: 5em;
}

#works_container p {
    margin-top: 2em;
    text-align: center;
    font-size: 1.3em;
    font-weight: 400;
    word-spacing: 0.2em;
    color: var(--text-color);
}

#contact_container {
    padding-top: 5%;
    padding-bottom: 25%;
}

#contacts {
    margin: auto;
    padding-top: 5%;
    max-width: 500px;
}

.contact_row {
    display: flex;
}

.contact {
    flex: 1;
    margin: 15px 15px;
    border: 1px solid var(--text-color);
    border-radius: 20px;
    box-shadow: inset 0 0 20px 0 var(--text-color), inset 0 0 2px 0 var(--text-color), inset 0 -3px 10px 0 var(--text-color), 0 5px 15px 0 var(--text-color);
}

.contact.wide {
    flex: 2;
}

.contact a {
    padding: 20px 0;
    font-size: 1.2em;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact a:hover {
    font-weight: 600;
    letter-spacing: 0.05em;
}

#email {
    width: 100%;
}

#info_container {
    padding-top: 5%;
    padding-bottom: 10%;
}

#infos {
    margin: 5% 10%;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 10px;
    color: var(--text-color);
    text-wrap: balance;
}

.info_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--text-color);
    border-radius: 15px;
}

.info_title {
    opacity: 0.7;
    border-bottom: 2px solid var(--text-color);
    padding: 10px;
    font-size: 1em;
    font-style: italic;
}

.info_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    padding: 10px;
}

.info_content p {
    margin: 10px 0;
}

#colors_info_container {
    grid-area: 1 / 2 / 3 / 3;
}

.color_container {
    display: flex;
    padding: 5px 0;
}

.color_container span {
    margin: auto;
    margin-left: 0;
    flex: 1;
}

.color_tile {
    height: 2em;
    aspect-ratio: 4 / 1;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    display: flex;
    color: var(--text-color);
}

.color_tile span {
    margin: auto;
    margin-left: 10px;
}

#color_tile_text {
    background-color: var(--text-color);
    color: var(--background-color);
    border-color: var(--icon-color);
}

#color_tile_accent {
    background-color: var(--icon-color);
    color: var(--background-color);
    border-color: var(--text-color);
}

#color_tile_text_code::selection {
    background-color: var(--background-color);
    color: var(--text-color);
}

#color_tile_accent_code::selection {
    background-color: var(--background-color);
    color: var(--icon-color);
}

#randomize_colors_container {
    margin: auto 0 0 auto;
}

#randomize_colors_button {
    margin-top: 10px;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    transition: border-radius 0.3s;
}

@keyframes randomize_animation {
    0% {
        rotate: 180deg;
    }

    100% {
        rotate: 0;
    }
}

#randomize_colors_icon {
    padding: 15px 30px;
    user-select: none;
    animation: randomize_animation 0.3s cubic-bezier(0, 0, 0, 1);
}

#randomize_colors_icon>svg {
    fill: var(--icon-color);
    vertical-align: bottom;
    transition: fill 0.3s ease-out;
}

#randomize_colors_button:hover {
    border-radius: 15px;
}

#randomize_colors_button:hover svg {
    fill: var(--background-color) !important;
}


#ai_info {
    padding: 5px;
    font-style: italic;
    font-size: 0.8em;
}

/* Footer menu */
@keyframes slide_in_footer {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }

}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    border-top: 1px solid var(--footer-color);
    backdrop-filter: blur(10px);
    transition: inherit;
    z-index: 15;
    user-select: none;
    transform: translateY(100%);
    animation: slide_in_footer .75s cubic-bezier(0, 1, .5, 1) 2.05s forwards;
}

#navigation_container {
    position: relative;
    margin: 10px auto;
}

#navigation_buttons_container {
    margin: auto;
    display: flex;
}

.navigation_button_container {
    display: flex;
    flex-direction: column;
}

.navigation_button {
    padding: 20px 3vw;
    border: 2px solid transparent;
    border-radius: 2rem;
    font-size: 0.9em;
    font-weight: 500;
    transition: color .5s cubic-bezier(.2, 0, 0, 1);
}

.navigation_button:hover {
    color: var(--background-color);
}

#navigation_buttons_underline_container {
    position: absolute;
    top: 45px;
    width: 100%;
    height: 10px;
    overflow: hidden;
    pointer-events: none;
}

#navigation_buttons_underline_window_container {
    position: relative;
    width: 100%;
    height: 100%;
}

#navigation_buttons_underline_window {
    position: absolute;
    mask: linear-gradient(to right, transparent, black, transparent);
    width: 0;
    height: 100%;
    overflow: hidden;
    transition: all 1s;
}

#underline {
    position: absolute;
    transition: all 1s;
    height: 100%;
}

#underline path {
    fill: transparent;
    stroke: var(--footer-color);
    stroke-width: 0.5em;
    transition: stroke 1s;
}

.reveal {
    opacity: 0;
    transition: opacity 0.5s, all 0.5s;
}

.reveal.visible {
    opacity: 1;
}

@media (max-width: 1000px) {
    #infos {
        grid-template-columns: 1fr;
    }

    #colors_info_container {
        grid-area: auto;
    }
}


@media (max-width: 600px) {
    * {
        cursor: unset;
    }

    #pointer:not(.hovering) {
        opacity: 0;
    }
}

@media (prefers-reduced-motion) {
    * {
        animation: none !important;
        animation-duration: 0 !important;
        transition: none !important;
        transition-delay: 0 !important;
    }

    *:hover *,
    *:hover {
        font-weight: unset !important;
    }

    .reveal {
        opacity: 1;
    }
}

#title_page:current {
    background-color: red !important;
}