body[data-theme="light"] {
    #pointer {
        mix-blend-mode: normal;
    }
}

body {
    --background-color: #000000;
    --text-color: #ffffff;
    --title-color: var(--text-color);
    --icon-color: #ffffff;
    --footer-color: var(--icon-color);
    --pointer-color: var(--icon-color);
    --scrollbar-color: var(--icon-color);

    --font-size-paragraph: 1.3rem;
    --font-size-title: 3rem;
}

* {
    min-width: 0;
    min-width: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Clash Display', sans-serif;
    cursor: none;
    transition: background-color 1s cubic-bezier(.5, .1, 0, 1), color 1s cubic-bezier(.1, .2, 0, 1), border-color 1s cubic-bezier(.1, .2, 0, 1), box-shadow 1s cubic-bezier(.1, .2, 0, 1), font-weight 0.5s, letter-spacing 0.5s;
}

*::selection {
    background-color: var(--text-color);
    color: var(--background-color);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 3px;
    transition: background-color 1s;
}

@supports not selector(::-webkit-scrollbar) {
    #main_container {
        scrollbar-width: thin;
        scrollbar-color: var(--scrollbar-color) var(--background-color);
    }
}

button {
    border: none;
    background-color: transparent;
    color: var(--icon-color);
}

a {
    padding: 0.3em 0.5em;
    color: var(--text-color);
}

a:hover {
    color: var(--background-color);
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

#pointer {
    position: fixed;
    width: 0;
    height: 0;
    translate: -50% -50%;
    border-radius: 2em;
    background-color: var(--pointer-color);
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 10;
    transition: width 0.4s cubic-bezier(.2, 0, 0, 1), height .3s cubic-bezier(.2, 0, 0, 1), filter .5s
}

#pointer.hovering {
    filter: blur(15px);
    -webkit-filter: blur(15px);
    z-index: 0;
    transition: width .5s cubic-bezier(.1, .7, .1, 1), height .3s cubic-bezier(.4, .6, .1, 1), filter 0.4s, transform .6s cubic-bezier(.1, .7, .1, 1), background-color .4s;
}

.pointer_receiver * {
    pointer-events: none;
}

@keyframes slide_in_header {

    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    color: var(--icon-color);
    z-index: 5;
    pointer-events: none;
    user-select: none;
    transform: translateY(-100%);
    animation: slide_in_header .75s cubic-bezier(0, 1, .5, 1) 2.05s forwards;
}


#header_buttons_container {
    margin: auto;
    margin-right: 0;
    padding: 20px;
    display: flex;
    pointer-events: all;
}

.header_button {
    height: 60px;
    width: 60px;
    transition: color 1s cubic-bezier(.05, 1, 0, 1);
}

.header_button:hover {
    color: var(--background-color);
}

#language_buttons_container {
    display: flex;
    margin-left: auto;
}

.language_button {
    padding: 20px;
    font-size: 0.85em;
    text-transform: uppercase;
}

#change_theme_button {
    width: 90px;
    rotate: 180deg;
    transition: rotate 1s cubic-bezier(0.78, 0.25, 0, 0.86), opacity 0.5s;
}

body[data-theme="dark"] #change_theme_button {
    rotate: 360deg;
}

#change_theme_button>svg {
    vertical-align: bottom;
    fill: var(--icon-color);
    transition: fill 0.5s;
}

#change_theme_button:hover>svg {
    fill: var(--background-color);
}

#main_container {
    width: 100%;
    height: 100%;
    z-index: 3;
}

#title_page {
    width: 100%;
    height: 90%;
    display: flex;
}

#title_container {
    margin: auto;
    padding: 50px;
    display: flex;
    color: var(--title-color);
}

#title {
    font-size: 3em;
    font-weight: 100;
    letter-spacing: 0.5rem;
    word-spacing: 0.5rem;
    margin: auto;
    position: relative;
    transition: word-spacing 1.5s;
}

#title_container:hover #title {
    word-spacing: 0;
}

#title_name,
#title_surname {
    text-wrap: nowrap;
}

#title_container .title_letter {
    transition: font-weight 0.4s, letter-spacing 0.4s;
    animation: title_initial_animation 2s linear;
}

#title_container:hover .title_letter {
    font-weight: 600;
    letter-spacing: 0.2rem;
}

#title_background {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: var(--title-color);
    animation: title_background_initial_animation 2.5s cubic-bezier(1, 0, 0, 1);
}

@keyframes title_initial_animation {

    0%,
    70% {
        visibility: hidden;
    }
}

@keyframes title_background_initial_animation {

    0%,
    30% {
        width: 0;
        right: unset;
    }

    60% {
        width: 105%;
        right: unset;
    }

    70% {
        width: 105%;
        right: -5%;
    }

    100% {
        width: 0;
        right: -5%;
    }
}

#bio_container {
    padding-bottom: 40vh;
}

#bio {
    max-width: 95%;
    width: max-content;
    margin: auto;
    text-align: left;
    color: var(--text-color);
    font-size: var(--font-size-paragraph);
    font-weight: 350;
    word-spacing: 0.2em;
}

.bio-highlight {
    font-weight: 600;
}

.page_title {
    color: var(--text-color);
    text-align: center;
    font-size: var(--font-size-title);
    font-weight: 550;
    letter-spacing: -0.01em;
}

#works_container {
    padding-top: 5vh;
    padding-bottom: 40vh;
}

#projects {
    width: min(90%, 2000px);
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 30px
}

.project {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 200px;
    padding-right: 20px;
    padding-bottom: 100px;
    border: 2px solid var(--text-color);
    border-radius: 30px;
    font-size: var(--font-size-paragraph);
    color: var(--text-color);
    overflow: hidden;
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-template-rows: 200px auto;
    align-items: center;
    gap: 10px;
    transition: max-height .5s cubic-bezier(.2, 0, 0, 1), box-shadow .5s cubic-bezier(.2, 0, 0, 1);
}

.project.expanded {
    max-height: 500px;
}

.project:hover {
    box-shadow: 10px 0 20px -5px var(--text-color), -10px 0 20px -5px var(--text-color);
}

.project::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.05;
    z-index: -1;
    filter: url(#noiseFilter) saturate(0) contrast(10);
    transition: opacity 0.2s;
}

.project:hover::after {
    opacity: 0.1;
}

.project_title {
    display: flex;
}

.project_title_image {
    height: 100px;
    margin: auto;
    margin-left: 12%;
    object-fit: contain;
    user-select: none;
}

#scuola,
#ync {
    fill: var(--text-color);
    transition: fill 1s;
}

.project#ecosol .project_title_image {
    margin-left: 7%;
}

body[data-theme="dark"] .project#ecosol .project_title_image {
    filter: brightness(120%) saturate(0.8);

}

.project_description {
    padding: 10px;
    display: flex;
    align-items: center;
}

.project_readmore {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 70px 10px 20px 100px;
    font-style: italic;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
    opacity: 0;
    transition: opacity .3s, padding .3s;
}

.project:hover .project_readmore {
    opacity: 1;
    padding-right: 20px;
}

.project.expanded .project_readmore {
    color: transparent;
}

.project_readmore_arrow_container {
    width: 30px;
    display: flex;
}

.project_readmore_arrow {
    fill: var(--text-color);
    transition: margin .3s, rotate .3s;
}

.project_readmore:hover .project_readmore_arrow {
    margin-left: 5px;
    rotate: 90deg;
}

.project.expanded .project_readmore_arrow {
    rotate: 180deg;
}

.project.expanded .project_readmore:hover .project_readmore_arrow {
    rotate: 270deg;
}

.project_links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 30px;
}

.project_link {
    width: fit-content;
    padding: 15px 40px;
    border: 2px solid var(--text-color);
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 3px 10px var(--text-color);
    transition: color .3s;
}

.project_link svg {
    fill: var(--text-color);
    align-self: flex-end;
    transition: fill .3s, translate .5s;
}

.project_link:hover svg {
    fill: var(--background-color);
    translate: 2px -2px;
}

.project_description_more {
    padding: 10px;
}

.project_description_more a {
    padding: 0;
}

.project_description_more,
.project_links {
    transition: opacity .3s, translate .3s;
}

.project_links {
    transition-delay: .1s;
}


.project:not(.expanded) .project_description_more,
.project:not(.expanded) .project_links {
    opacity: 0;
    translate: 0 10px;
}

@media (max-width:900px) {
    .project {
        grid-template-columns: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .project_title_image {
        margin: auto !important;
    }

    .project.expanded {
        max-height: 1200px;
    }

    .project_links {
        grid-row: 4;
    }
}

#contact_container {
    padding-top: 5vh;
    padding-bottom: 40vh;
}

#contacts {
    margin: auto;
    padding-top: 5vh;
    max-width: 600px;
}

.contact_row {
    display: flex;
}

.contact {
    flex: 1;
    margin: 15px 12px;
    border: 1px solid var(--text-color);
    border-radius: 20px;
    box-shadow: inset 0 0 20px 0 var(--text-color), inset 0 0 2px 0 var(--text-color), inset 0 -3px 10px 0 var(--text-color), 0 5px 15px 0 var(--text-color);
}

.contact.wide {
    flex: 2;
}

.contact a {
    padding: 22px 0;
    font-size: var(--font-size-paragraph);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact a:hover {
    font-weight: 600;
    letter-spacing: 0.05em;
}

#email {
    width: 100%;
}

#info_container {
    padding-top: 5vh;
    padding-bottom: 15vh;
}

#infos {
    margin: 5% 10%;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 10px;
    color: var(--text-color);
    text-wrap: balance;
}

.info_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--text-color);
    border-radius: 15px;
}

.info_title {
    opacity: 0.7;
    border-bottom: 2px solid var(--text-color);
    padding: 10px;
    font-size: 1em;
    font-style: italic;
}

.info_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-paragraph);
    padding: 10px;
}

.info_content p {
    margin: 10px 0;
}

#repo_link span {
    transition: none;
}

@media (max-width: 500px) {
    #repo_link span {
        display: none;
    }
}

#design_info_container {
    grid-area: 1 / 2 / 3 / 3;
}

#font_link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    letter-spacing: 0.03em;
    transform: skew(-4deg);
    transition: color .3s, font-weight .3s, letter-spacing .3s, word-spacing .3s, transform .3s;
}

#font_link:hover {
    font-weight: 700;
    letter-spacing: 0;
    word-spacing: -0.05em;
    transform: skew(-10deg);
}


.color_container {
    display: flex;
    padding: 5px 0;
}

.color_container span {
    margin: auto;
    margin-left: 0;
    flex: 1;
}

.color_tile {
    height: 2em;
    aspect-ratio: 4 / 1;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    display: flex;
    color: var(--text-color);
}

.color_tile span {
    margin: auto;
    margin-left: 10px;
}

#color_tile_text {
    background-color: var(--text-color);
    color: var(--background-color);
    border-color: var(--icon-color);
}

#color_tile_accent {
    background-color: var(--icon-color);
    color: var(--background-color);
    border-color: var(--text-color);
}

#color_tile_text_code::selection {
    background-color: var(--background-color);
    color: var(--text-color);
}

#color_tile_accent_code::selection {
    background-color: var(--background-color);
    color: var(--icon-color);
}

#randomize_colors_container {
    margin: auto 0 0 auto;
}

#randomize_colors_button {
    margin-top: 10px;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    transition: border-radius 0.3s;
}

@keyframes randomize_animation {
    0% {
        rotate: 180deg;
    }

    100% {
        rotate: 0;
    }
}

#randomize_colors_icon {
    padding: 15px 30px;
    user-select: none;
    animation: randomize_animation 0.3s cubic-bezier(0, 0, 0, 1);
}

#randomize_colors_icon>svg {
    fill: var(--icon-color);
    vertical-align: bottom;
    transition: fill 0.3s ease-out;
}

#randomize_colors_button:hover {
    border-radius: 15px;
}

#randomize_colors_button:hover svg {
    fill: var(--background-color) !important;
}


#ai_info {
    padding: 5px;
    font-style: italic;
    font-size: 0.8em;
}

/* Footer menu */
@keyframes slide_in_footer {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }

}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    border-top: 1px solid var(--footer-color);
    backdrop-filter: blur(10px);
    transition: inherit;
    z-index: 15;
    user-select: none;
    transform: translateY(100%);
    animation: slide_in_footer .75s cubic-bezier(0, 1, .5, 1) 2.05s forwards;
}

#navigation_container {
    position: relative;
    margin: 10px auto;
}

#navigation_buttons_container {
    margin: auto;
    display: flex;
}

.navigation_button_container {
    display: flex;
    flex-direction: column;
}

.navigation_button {
    padding: 20px 3vw;
    border: 2px solid transparent;
    border-radius: 2rem;
    font-size: 0.9em;
    font-weight: 500;
    transition: color .5s cubic-bezier(.2, 0, 0, 1);
}

.navigation_button:hover {
    color: var(--background-color);
}

#navigation_buttons_underline_container {
    position: absolute;
    top: 45px;
    width: 100%;
    height: 10px;
    overflow: hidden;
    pointer-events: none;
}

#navigation_buttons_underline_window_container {
    position: relative;
    width: 100%;
    height: 100%;
}

#navigation_buttons_underline_window {
    position: absolute;
    mask: linear-gradient(to right, transparent, black, transparent);
    width: 0;
    height: 100%;
    overflow: hidden;
    transition: all 1s;
}

#underline {
    position: absolute;
    transition: all 1s;
    height: 100%;
}

#underline path {
    fill: transparent;
    stroke: var(--footer-color);
    stroke-width: 0.5em;
    transition: stroke 1s;
}

.reveal {
    opacity: 0;
    transition: opacity 0.5s, all 0.5s;
}

.reveal.visible {
    opacity: 1;
}

@media (max-width: 1000px) {
    #infos {
        grid-template-columns: 1fr;
    }

    #design_info_container {
        grid-area: auto;
    }
}


@media (max-width: 600px) {
    * {
        cursor: unset;
    }

    #pointer:not(.hovering) {
        opacity: 0;
    }

    #contacts .contact_row {
        flex-direction: column;
    }

    #contacts .contact_row .contact:not(.wide) {
        width: 200px;
        margin-left: 15%;
    }

    #contacts .contact_row .contact:not(.wide):nth-child(odd) {
        margin-left: auto;
        margin-right: 15%;
    }
}

@media (prefers-reduced-motion) {
    * {
        animation: none !important;
        animation-duration: 0 !important;
        transition: none !important;
        transition-delay: 0 !important;
    }

    *:hover *,
    *:hover {
        font-weight: unset !important;
    }

    .reveal {
        opacity: 1;
    }
}